body{
    color:#f9f4ce;

}
.choice-container{
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background:#143c73;
    font-size: xx-large;
    min-width: 80rem;

}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 black;
    transform: scale(1.02);
    transform: transform 100ms ;
}
.choice-prefix{
    padding: 2rem 2.5rem;
    color: #f9f4ce;
}

.choice-text{
    padding:2rem;
    width: 100%;
}

.correct{
    background: green;
}

.incorrect{
    background: red;
}

/*Display*/
#hud{display:flex;
justify-content: space-between;}

.hud-prefix{
    text-align: center;
    font-size: 2rem;
}

.hud-main-text{
    text-align: center;

}

#progressBar{
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(232, 239, 26);
    margin-top: 2rem;
    border-radius: 50px;
    overflow:hidden;

}

#progressBarFull{
    height:100%;
    background:rgb(232, 239, 26) ;
    width: 0%;
}

@media screen and (max-width: 768px){
    .choice-container{
        min-width: 40rem;
    }
}
